table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px double #000;
  padding: 8px;
}

td {
  word-break: break-all;
  overflow-y: scroll;
}

.date-selectors {
  padding-bottom: 2rem;
}
